/*main image for basic portfolio*/

https://static.pexels.com/photos/33478/golf-sunset-sport-golfer.png


https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png

if_github_circle_black_107161.png

if_linkedin_834713.png

if_stackoverflow_1220302.png

http://lorempixel.com/400/200

5380168489_500779ee92_m.jpg

3422407106_b545545908_m.jpg

2447216208_3758750be0_m.jpg

4601465041_45c4b9cc10_m.jpg